


.flex-div{
/* background-color: red; */
display: flex;
flex-direction: row;



}
.flex-heading{
    /* background-color: rgb(44, 165, 42); */
   text-align: center;
   font-size: larger;
}

.flex-main-component{
    background-color: rgb(242, 242, 249);
    width: 100%;
    margin: 5px;
  
}
.flex-sidebar{
background-color: rgb(206, 207, 233);
width: 100px;
max-width: 100px;
float: right;

text-align: center;
display: flex;
flex-direction: column;
margin: 1px;
margin-top: 25px;

}
.flex-sidebar>div{
    background-color: cornflowerblue;
    text-align: center;
    align-items: center;
    height: 100px;
    margin: 2px;
    overflow-wrap: break-word;
  

}
.flex-sidebar>Button{
    overflow-wrap: break-word;
}

.flex-main-box{
    width: 100%;
    /* background-color: aquamarine; */
  
    justify-content: center;
    text-align: center;
    
}


@media screen and (max-width: 600px) {
    .flex-div{
        flex-direction: column-reverse;
        width: 100%;
        /* background-color: red; */
      
        margin-top:0px;
        
    }
    .flex-sidebar{
        width :100%;
       /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-top: 0px;
        text-align: left;
        max-width: none;
        align-items: stretch;
    }
    .flex-sidebar>div{
        /* background-color: cornflowerblue; */
       justify-content: center;
       align-self: stretch;
       max-width: none;
      width: 100%;
        
        
       
    
    }

    
}

