.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  height: 100vh;
}

.LoginSignUpContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;

  background-color: rgb(231, 231, 231);
  min-height: 675px;

 
}

.LoginSignUpBox {
  background-color: white;
  width: 25vw;
  min-width: 400px;

  box-sizing: border-box;
  overflow: hidden;
}

.login_signUp_toggle {
  display: flex;
  
}
.login_signUp_toggle > p {
  color: rgba(0, 0, 0, 0.678);
  font: 300 "Roboto";
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
}
.login_signUp_toggle > p:hover {
  color: #ecb00b;
}

.LoginSignUpBox > div > button {
  background-color: #ffc119;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  padding: 5px;
 

  /* background-color: red; */

  justify-content: space-evenly;

  transition: all 0.5s;
height:80%;
}

.signUpForm {
  transform: translateY(-100%) translateX(-100vmax);
}

.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  
  margin-top: 10px;

 
}
.loginForm > div > input,
.signUpForm > div > input {
 
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1em "Roboto";
  outline: none;
  padding: 0.7em;
  padding-left: 2.1em;
  

}

.loginForm > div > svg,
.signUpForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.623);
}

.loginForm > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 1em "Roboto";
  padding: 1em;
}

.loginForm > a:hover {
  color: black;
}

#registerImage > img {
  width:90px;
  height: 50px;
 
  border-radius: 100%;
}
#registerImage > input {
  display: flex;
 
}

#registerImage > input::file-selector-button {
  cursor: pointer;
  width: 110%;
  z-index: 2;

  border: none;
  margin: 0%;
  font: 400 0.8em "Roboto";
  transition: all 0.5s;
  padding: 0 1;
  color: rgba(0, 0, 0, 0.623);
  background-color:   white;
}



.loginBtn,
.signUpBtn {
  border: none;
  background-color: #ffc119;
  color: white;
  font: 300 0.9em "Roboto";
  width: 100%;
  padding: 0.8em;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: #ffc119;
}

.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

@media screen and (max-width: 600px) {
  .LoginSignUpContainer {
    background-color: white;
  }
  .LoginSignUpBox {
    width: 100%;
    margin: 5px;
    min-width: 300px;
  }
  .login_signUp_toggle {
    height: 5em;
  }
  .login_signUp_toggle > p {
    font: 300 1em "Roboto";
  }

  .loginForm,
  .signUpForm {
    min-height: 600px;
  
    margin: 5px;
    min-width: 300px;
  }

  .loginForm > div > input,
  .signUpForm > div > input {
    font: 300 1em "Roboto";
    margin-right: 5px;
    margin-left: 5px;
  }

  .loginForm > div > svg,
  .signUpForm > div > svg {
    font-size: 1.7em;
  }

  .loginForm > a {
    font: 500 1em "Roboto";
  }

  #registerImage > img {
    width: 6em;
    border-radius: 100%;
    height: 5em;
    
    
  }

  #registerImage > input::file-selector-button {
    font: 400 1em "Roboto";
   
  }

  .loginBtn,
  .signUpBtn {
    font: 300 1em "Roboto";
    width: 75%;
    align-self: center;
  }
}
