.Container {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);

    
  }
  
  .Container-Box {
    background-color: white;
    width: 50vw;
    height: auto;
    box-sizing: border-box;
    overflow: scroll;
  }
  
  .loading{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    height: 100vh;
    width: 100%;
  }
  
  .Container-header {
    margin-top: 5px;
    text-align: center;
    font-size: large;
  }

  .order-Tag{
  
    font: 400 2em roboto;
  }
 
  
  .Container-Box > div > button {
    background-color: rgb(95, 92, 247);
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
  }
  
  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1.7em;
    
   
    transition: all 0.5s;
    min-height: 520px;
   
  }
  
  .Form > div {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: large;
    padding: 5px;
  }
  
  .Form > div > input {
    
   padding-left: 2.5em;
   padding-right: 2.5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9em roboto;
    outline: none;
    min-height: 60px;
    font-size: large;
  }
  
  .Form > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.623);
  }
  
  
  
 
  
 
  
 
 
  
 
  
  
  
  
  
  .submitBtn {
    border: none;
    background-color: rgb(218, 150, 26);
    color: white;
    font: 300 1.9em "Roboto";
    width: 100%;
    padding: 0.8em;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .submitBtn:hover {
    background-color: rgb(107, 221, 30);
  }
  
  @media screen and (max-width: 800px) {
    .Container {
      background-color: rgb(238, 222, 222);
      width: 100%;
      margin: 0;
    }
    .Container-Box {
      width: 80vw;
      height: auto;
      border-radius: 2px;
      min-width: 260px;
      max-width: 417px;
      
    }
    
  
    .Form > div > input {
     
      font: 300 0.9em roboto;
      padding-left: 1.7em;
     
      
    }
  
    .Form > div > svg {
      font-size: 1.2em;
      z-index: 1;
    }
  
  
    .submitBtn {
      font: 300 1em "Roboto";
      padding: 1em;
      height: 1.5em;
      margin: 0.5em;
    }
  }
  