.container{
    /* background-color: red; */
    display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(245, 250, 244);
  
}

.comment-box{
  position: fixed;
  width: 100%;
  margin-top: 0px;
  
  
  /* background-color: aquamarine; */
  z-index: 9;
}
.update-box{
  position: fixed;
  width: 100%;
  margin-top: 0px;
  
  
  /* background-color: aquamarine; */
  z-index: 9;
}

.detailbox{
    
     background-color: rgb(206, 207, 233);
    margin: 2px;
    /* background-color: #f1f1f1; */
  padding: 10px;
  flex: 50%;

}

.orderbox{
    width: "100%";
   
    background-color: rgb(206, 207, 233);
    padding: 5px;
    flex: 50%;
    
    padding-right: 80px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 145px;
    
}
.admin-product-control{
  background-color: red;
  
}

@media (max-width: 1000px) {
    .container {
      flex-direction: column;
    }

    .orderbox{
      width: "100%";
     
      /* background-color: rgb(46, 142, 27); */
      padding: 5px;
      flex: 50%;
      max-width: 500px;
      
  }
  .detailbox{
    width: "100%";
     
    /* background-color: rgb(46, 142, 27); */
    padding: 5px;
    flex: 50%;
    max-width: 500px;
  }
  }